*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
!dist/NativePure-Dispensary.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.hprof
keystore/*.jks
!keystore/README.md
